<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid" >Enter valid values</div>
    <form (ngSubmit)=" !todoForm.invalid && saveTodo()" #todoForm = "ngForm">
    <fieldset class="form-group" >
        <label>Description</label>
        <input class="form-control" type="text" [(ngModel)]="todo.description" required="required" name="description" />
    </fieldset>
    <fieldset class="form-group" >
        <label>Target Date </label>
        <input type="date" 
        required="required" 
        name="targetDate" 
        [ngModel]="todo.targetDate | date: 'yyyy-MM-dd' " 
        (ngModelChange)="todo.targetDate = $event" 
        class="form-control" />
    </fieldset>
    <button class="btn btn-success" type="submit"  >Save</button>
</form>
</div>
